header {
    background-color: var(--cards-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    width: 30%;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
}

.wins {
    display: flex;
}

.red-points {
    color: hotpink;
}

.blue-points {
    color: #00C4FF;
}

.punctuation {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 40em) {
    header {
        width: 90%;
        height: 60%;
        font-size: 1.3rem;
    }
}